.smallBox {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.permahover {
    background: black;
}

h1 {
    text-align: center;
}

.bigContainer {
    text-align: center;
}

.row {
    margin-bottom: -5px; 
}

.header {
    text-align: center;
}

button {
    display: inline-block;
}

